<h1>Flight <%= Aeropuerto::INFO_TYPES[content.config['info_type']] %> status information for <%= Aeropuerto::AIRPORTS[content.config['airport']] %> in <%= Aeropuerto::LANGUAGES[content.config['language']] %></h1>
